<%- include('../partials/head', {title: "index"}); %>

<%- include('../partials/header'); %>


<main class="page">
    <section class="collapsible-header">
        <h2 class="title title--h1">Ontdek producten</h2>
        <a class="cta cta--icon barcode__control barcode__control--discloser" href="/barcode">
            Scan een barcode
            <svg class="icon icon--camera" viewBox="0 0 101 81" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M31.4914 1.46623C32.4296 0.527696 33.7022 0.000283424 35.0293 0H65.0545C66.3815 0.000283424 67.6542 0.527696 68.5924 1.46623L77.1346 10.0084H90.0754C92.7298 10.0084 95.2755 11.0628 97.1524 12.9398C99.0293 14.8167 100.084 17.3624 100.084 20.0168V70.0587C100.084 72.713 99.0293 75.2587 97.1524 77.1356C95.2755 79.0126 92.7298 80.067 90.0754 80.067H10.0084C7.35399 80.067 4.80832 79.0126 2.93139 77.1356C1.05445 75.2587 0 72.713 0 70.0587V20.0168C0 17.3624 1.05445 14.8167 2.93139 12.9398C4.80832 11.0628 7.35399 10.0084 10.0084 10.0084H22.9492L31.4914 1.46623ZM37.1011 10.0084L28.5589 18.5505C27.6207 19.4891 26.348 20.0165 25.0209 20.0168H10.0084V70.0587H90.0754V20.0168H75.0628C73.7358 20.0165 72.4631 19.4891 71.5249 18.5505L62.9827 10.0084H37.1011ZM50.0419 32.5272C47.3875 32.5272 44.8418 33.5817 42.9649 35.4586C41.088 37.3356 40.0335 39.8812 40.0335 42.5356C40.0335 45.19 41.088 47.7357 42.9649 49.6126C44.8418 51.4895 47.3875 52.544 50.0419 52.544C52.6963 52.544 55.242 51.4895 57.1189 49.6126C58.9958 47.7357 60.0503 45.19 60.0503 42.5356C60.0503 39.8812 58.9958 37.3356 57.1189 35.4586C55.242 33.5817 52.6963 32.5272 50.0419 32.5272ZM30.0251 42.5356C30.0251 37.2268 32.134 32.1355 35.8879 28.3816C39.6418 24.6278 44.7331 22.5189 50.0419 22.5189C55.3507 22.5189 60.442 24.6278 64.1959 28.3816C67.9498 32.1355 70.0587 37.2268 70.0587 42.5356C70.0587 47.8444 67.9498 52.9357 64.1959 56.6896C60.442 60.4435 55.3507 62.5524 50.0419 62.5524C44.7331 62.5524 39.6418 60.4435 35.8879 56.6896C32.134 52.9357 30.0251 47.8444 30.0251 42.5356Z">
                </path>
            </svg>
        </a>
    </section>
    <section class="search" data-search>
        <form class="search__form" data-search-form>
            <input type="text" class="search__input" name="query" placeholder="Zoek op product" value="<%- query %>"
                data-search-input />
            <button class="search__control cta cta--no-padding" data-search-control>
                <div class="icon icon--loading"></div>
                <svg class="icon icon--search" viewBox="0 0 29 29" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.3307 20.667C7.73573 20.667 3.9974 16.9287 3.9974 12.3337C3.9974 7.73866 7.73573 4.00033 12.3307 4.00033C16.9257 4.00033 20.6641 7.73866 20.6641 12.3337C20.6641 14.0303 20.1491 15.6037 19.2757 16.922C18.6557 17.857 17.8541 18.6587 16.9191 19.2787C15.6024 20.152 14.0274 20.667 12.3307 20.667ZM21.6657 19.312C23.1241 17.3637 23.9974 14.9537 23.9974 12.3337C23.9974 5.89033 18.7741 0.666992 12.3307 0.666992C5.8874 0.666992 0.664062 5.89033 0.664062 12.3337C0.664062 18.777 5.8874 24.0003 12.3307 24.0003C14.9507 24.0003 17.3607 23.127 19.3091 21.6687L26.1524 28.512L28.5091 26.1553L21.6657 19.312Z">
                    </path>
                </svg>
            </button>
        </form>
        <section class="search__results-body">
            <%- include('../partials/product-list', {data: data, count: data.count, query:query, page:page, pageSize:pageSize, pageCount:pageCount}); %>
        </section>
    </section>
</main>
<%- include('../partials/footer'); %>